/*pagina di visualizzazione del blog*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap'); /*Slabo*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); /*Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); /*Suource Sans Pro*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); /*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); /*PT Sans*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); /*Lora*/

body {
    background-color: darkred;
}

p {
    padding: 0 5% 0 5%;
}

.titolo {
    text-align: center;
}

.contenitore {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenitore p {
    word-break: break-all;
}

.sinistra {
    width: 55%;
    text-align: center;
    background-color: white;
    margin: 2% 10% 2% 10%;
}

.link {
    text-decoration: none;
    color: darkred;
}

.link:hover {
    color: indianred;
}

.slideshow {
    max-width: 80%;
    padding: 2%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.slideshow .immagine {
    max-width: 100%;
    max-height: 100%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.destra {
    width: 25%;
    text-align: center;
    flex-direction: column;
    border-left: 1.8px solid;
    justify-content: center;
    margin: 2% 0 2% 0;
}

.post_recenti {
    margin: 10%;
    padding-top: 5%;
    border: 0.5px solid white;
    background-color: white;
}

.div_titoletto {
    display: flex;
    justify-content: center;
}

.titoletto {
    padding: 1.5%;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

/*pagina di creazione del post*/

.creazione, .autenticazione {
    background-color: white;
    text-align: center;
}

.consegna {
    font-size: 1.9vw;
    font-weight: 500;
    margin-top: 3%;
}

#titolo_post, #titolo_blog {
    padding: 1%;
    width: 50%;
    margin: 2%;
}

.appendino {
    text-align: center;
}

.inserimento_url {
    width: 40%;
    margin: 0.5% 30% 1% 30%;
    padding: 0.5%;
    border: 0.5px solid black;
}

#testo_post {
    padding: 1%;
    width: 50%;
    resize: none;
    margin: 2%;
}

.post_area {
    position:relative;
}

.post_area a{
    position: absolute  ;;
    right: 25%;
    bottom: 10%;
    color: grey;
}

/*TODO: Sistemare altezza del coso. */


.bottone {
    background-color: white;
    padding: 1%;
    border: 1.5px solid;
    border-radius: 2px 10px;
}

.bottone_foto {
    padding: 0.9%;
    margin: 1% 0 2% 0;
}

.bottone_piccolo {
    padding: 1.5%;
    border: 1.2px solid;
    margin: 2% 0 1% 0;
}

.bottone:hover {
    background-color: black;
    color: white;
}

/*pagina di login*/

.box {
    display: flex;
    flex-direction: column;
    border: 1.9px solid;
    width: 30%;
    margin: 2% auto 0 auto;
    padding: 2%;
}

.consegna_piccola {
    font-size: 1.1vw;
    font-weight: 500;
}

.campo_piccolo {
    padding: 1%;
    margin: 2% 20% 2% 20%;
}

/*pagina di creazione del blog*/

.bottone_sfondo {
    background-color: white;
    margin: 0 0 1% 1%;
    padding: 0.4%;
    border: 1px solid;
}

.selezione {
    padding: 0.5%;
    margin: 1%;
    border: 1px solid;
}

.roboto {
    font-family: Roboto, sans-serif;
}

.open_sans {
    font-family: "Open sans", sans-serif;
}

.lato {
    font-family: Lato, sans-serif;
}

.slabo {
    font-family: Slabo, serif;
}

.oswald {
    font-family: Oswald, sans-serif;
}

.source_sans_pro {
    font-family: "Source Sans Pro", sans-serif;
}

.montserrat {
    font-family: Montserrat, sans-serif;
}

.raleway {
    font-family: Raleway, sans-serif;
}

.pt_sans {
    font-family: "PT Sans", sans-serif;
}

.lora {
    font-family: Lora, serif;
}

.tema {
    width: 30%;
    padding: 0.8%;
    margin: 1%;
    border: 1px solid;
}

