.body {
    background-color: darkred;
}

.titolo {
    text-align: center;
}

.contenitore {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenitore p {
    word-break: break-all;
}

.sinistra {
    width: 55%;
    text-align: center;
    background-color: white;
    margin: 2% 10% 2% 10%;
}

.link {
    text-decoration: none;
    color: darkred;
}

.link:hover {
    color: indianred;
}


.immagine {
    max-width: 100%;
    width: 80%;
    padding: 2%;
}

.destra {
    width: 25%;
    text-align: center;
    flex-direction: column;
    border-left: 1.8px solid;
    justify-content: center;
    margin: 2% 0% 2% 0%;
}

.post_recenti {
    margin: 10%;
    border: 0.5px solid white;
    background-color: white;
}

.div_titoletto {
    display: flex;
    justify-content: center;
}

.titoletto {
    padding: 1.5%;
    border-top: 2px solid;
    border-bottom: 2px solid;
}